<section class="flex flex-col justify-center items-center content-center min-h-screen space-y-10">

    <div class="flex flex-col items-center">
        <h1>Inicia sesión</h1>
        <p class="font-light text-lg">accede a tus tambos de lectura</p>
    </div>

    <!-- Formulario -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class=" w-full max-w-md space-y-5">
        <div>
            <label> Email
                <input formControlName="email" class="input-shortanswer" type="email"
                    placeholder="ej: correo@correo.com">
            </label>
            <small class="text-red-600" *ngIf="email?.touched && email?.invalid">
                <ng-container *ngIf="email?.errors?.['required']">
                    El correo es obligatorio
                </ng-container>
                <ng-container *ngIf="email?.errors?.['email']">
                    Formato inválido
                </ng-container>
            </small>
        </div>

        <div>
            <label>Contraseña
                <input formControlName="password" class="input-shortanswer" type="password" name="password" required
                    placeholder="Escriba su contraseña">
            </label>
            <small class="text-red-600" *ngIf="password?.touched && password?.invalid">
                <ng-container *ngIf="password?.errors?.['required']">
                    La contraseña es obligatoria
                </ng-container>
                <ng-container *ngIf="password?.errors?.['minlength']">
                    Debe tener al menos 4 caracteres
                </ng-container>
                <ng-container *ngIf="password?.errors?.['pattern']">
                    Debe incluir al menos un símbolo
                </ng-container>
            </small>
        </div>

        <button type="submit" [disabled]="!loginForm.valid || loading" class="primary-btn block mx-auto">
            {{loading ? 'Iniciando sesión' : 'Iniciar sesión'}}
        </button>
        <!-- Error -->
        <p *ngIf="errorMessage" class="text-red-500 text-center">
            Credenciales incorrectas
        </p>
    </form>



    <!-- Registro -->
    <p class="text-center text-gray-600">
        ¿No tienes una cuenta?
        <a routerLink="/register" class="text-blue-500 hover:underline cursor-pointer">Regístrate</a>
    </p>

</section>