<div class="grid grid-cols-1 md:grid-cols-[250px_1fr] min-h-screen">

    <aside class="bg-white shadow-lg p-4 hidden md:block">
        <nav>
            <ul>
                <li routerLink="/dashboard/home" routerLinkActive="active">
                    Inicio
                </li>

                <li *ngIf="role === 'docente'" routerLink="/dashboard/my-events">
                    Mis eventos
                </li>

                <li *ngIf="role === 'estudiante'" routerLink="/dashboard/my-enrollments">
                    Mis inscripciones
                </li>

                <li *ngIf="role === 'docente'" routerLink="/dashboard/attendance">
                    Asistencia
                </li>

                <li routerLink="/dashboard/profile">
                    Perfil
                </li>
            </ul>
        </nav>

        <button *ngIf="role === 'docente'" routerLink="/dashboard/teacher/create">
            Crear evento
        </button>

        <button routerLink="/login" (click)="logout()">Cerrar sesión</button>
    </aside>

    <main class="p-8">
        <router-outlet></router-outlet>
    </main>

</div>