<div class="flex flex-col">

    <div class="grid grid-cols-3 items-center mb-6">
        <button (click)="goBack()" class="flex justify-start text-2xl text-primaryblue mb-3">
            <fa-icon [icon]="backIcon"></fa-icon>
        </button>
        <h1 class="text-center whitespace-nowrap">Editar tambo</h1>
    </div>

    <section class="flex flex-col justify-center items-center content-center">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" w-full max-w-md space-y-5">

            <div>
                <label>Título
                    <input type="text" formControlName="title" class="input-shortanswer" />
                </label>
            </div>


            <div>
                <label>Descripción
                    <textarea rows="3" formControlName="description" class="input-shortanswer rounded-lg"></textarea>
                </label>
            </div>

            <div>
                <label>Fecha
                    <input type="date" formControlName="date" class="input-shortanswer" />
                </label>
            </div>

            <div>
                <label>Hora
                    <input type="time" formControlName="time" class="input-shortanswer" />
                </label>
            </div>

            <div>
                <label>Lugar
                    <input type="text" formControlName="location" class="input-shortanswer" />
                </label>
            </div>


            <div class="flex gap-2 justify-center pt-5">
                <button type="submit" [disabled]="form.invalid || loading" class="primary-btn">
                    {{ loading ? 'Actualizando...' : 'Actualizar tambo' }}
                </button>

                <button type="button" [disabled]="deleting" (click)="onDelete()"
                    class="secondary-card-btn hover:bg-red-600 text-red-600 border-red-500">
                    {{ deleting ? 'Eliminando...' : 'Eliminar tambo' }}
                </button>
            </div>

        </form>
    </section>

</div>

<p *ngIf="error" style="color:red">{{ error }}</p>