<h1 class="text-center pb-5">Mis tambos publicados</h1>

<div *ngIf="loading">Cargando...</div>
<p *ngIf="error">{{error}}</p>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <article *ngFor="let e of events">

        <div
            class="h-full bg-white rounded-b-md shadow-lg border border-gray-100 overflow-hidden flex flex-col hover:shadow-xl transition-shadow duration-300">

            <div class="h-48 w-full">
                <img class="w-full h-full object-cover" src="assets/img/book_placeholder.png" alt="Imágen del evento">
            </div>
            <div class="p-6 flex-grow flex flex-col">
                <div class="flex flex-row gap-3">
                    <p class="text-slate-500"><fa-icon [icon]="dateIcon"></fa-icon> {{e.date}}</p>
                    <p class="text-slate-500"> <fa-icon [icon]="placeIcon"></fa-icon> {{e.location}}</p>
                </div>
                <h2 class="">{{e.title}}</h2>
                <p class="my-4">{{e.description}}</p>
            </div>

            <div class="px-6 pb-6 pt-0 flex flex-wrap gap-3 mt-auto">
                <button class="primary-btn flex-1 text-center justify-center"
                    [routerLink]="['/dashboard/events', e.id]">Ver detalles</button>
                <button class="secondary-card-btn flex-1 text-center justify-cente"
                    [routerLink]="['/dashboard/teacher/edit-event', e.id]">Editar</button>
            </div>
        </div>


    </article>
</div>