<div *ngIf="loading text-center">Cargando...</div>

<div *ngIf="user && !loading" class="flex flex-col items-center justify-center p-10 ">

    <div class="flex flex-col items-center mb-8">
        <div class="w-20 h-20 bg-[#001a4d] rounded-full flex items-center justify-center mb-2">
            <span class="text-white text-3xl"><fa-icon [icon]="userIcon"></fa-icon></span>
        </div>
        <h2 class="text-xl font-bold text-primaryblue">{{ user.nombre }} | {{user.rol}}</h2>
    </div>

    <form class="space-y-6">
        <div>
            <label>Nombre
                <input type="text" [value]="user.nombre" class="input-shortanswer"
                    placeholder="Escribe tu nombre de usuario">
            </label>
        </div>

        <div>
            <label>Email
                <input type="email" [value]="user.email" disabled class="input-shortanswer">
            </label>
        </div>

        <div>
            <label>Contraseña
                <input type="password" class="input-shortanswer" placeholder="Escribe tu contraseña">
            </label>
        </div>

        <div class="flex justify-center space-x-4 pt-4">
            <button type="submit" class="primary-btn w-full">
                Guardar cambios
            </button>
            <button type="button" class="secondary-card-btn w-full">
                Eliminar mi cuenta
            </button>
        </div>
    </form>

</div>