/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {}

@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }

    h1 {
        @apply text-4xl font-bold;
    }
}

@layer components {

    /* BOTONES */
    .primary-btn {
        @apply w-full md:w-auto bg-black rounded-full px-4 py-2 text-white font-medium hover:bg-slate-700 transition-colors duration-200 ease-in-out disabled:opacity-60 disabled:cursor-not-allowed disabled:scale-95;
    }

    /* FORMULARIOS */
    .input-shortanswer {
        @apply w-full px-5 py-2 mt-2 border border-gray-200 bg-gray-50 rounded-full focus:ring-2 focus:ring-blue-400 border-b-2 border-b-gray-300;
    }
}